<div class="blue-bacground">
    <div class="allDiv">
        <div *ngFor="let num of [1, 2, 3, 4, 5, 6]" [attr.id]="'num' + num" class="num" [ngClass]="{'numBig': num === 5 || num === 6}">
            {{ numbers[num - 1] }}
          </div>
        <div class="button-container">
            <button class="button" (click)="addNumToDivs()">Dodaj brojeve</button>
        </div>
    </div>
    <div class="result">
        {{numberStateService.result}}
    </div>
    <app-calculator></app-calculator>
  </div>