.wrapper {

    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .finall {
        text-align: center;
        cursor: pointer;

        .finall-input {
            width: 300px;
            background-color: red;
            text-align: center;
            border: 2px solid black;
            border-radius: 5px;
            padding: 2px;

            &::placeholder {
                color: white;
            }
        }
    }

    .column {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 5px;

        &.a {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .columnA {
                text-align: center;

                .item {
                    border: 2px solid black;
                    border-radius: 5px;
                    background-color: red;
                    margin-bottom: 5px;
                    width: 200px;
                    padding: 2px;
                    color: white;

                    &:nth-child(1) {
                        margin-left: 30px;
                    }

                    &:nth-child(2) {
                        margin-left: 60px;
                    }

                    &:nth-child(3) {
                        margin-left: 90px;
                    }

                    &:nth-child(4) {
                        margin-left: 120px;
                    }
                }

                .inputA {
                    margin-left: 160px;
                    cursor: pointer;

                    &::placeholder {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }

        &.b {
            display: flex;
            width: 100%;

            .columnB {
                text-align: center;

                .item {
                    border: 2px solid black;
                    border-radius: 5px;
                    background-color: red;
                    margin-bottom: 5px;
                    width: 200px;
                    padding: 2px;
                    color: white;

                    &:nth-child(1) {
                        margin-left: 120px;
                    }

                    &:nth-child(2) {
                        margin-left: 90px;
                    }

                    &:nth-child(3) {
                        margin-left: 60px;
                    }

                    &:nth-child(4) {
                        margin-left: 30px;
                    }
                }

                .inputB {
                    margin-right: 160px;
                    cursor: pointer;

                    &::placeholder {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }

        &.c {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .columnC {
                text-align: center;
                cursor: pointer;

                .item {
                    border: 2px solid black;
                    border-radius: 5px;
                    background-color: red;
                    margin-bottom: 5px;
                    width: 200px;
                    padding: 2px;
                    color: white;

                    &:nth-child(1) {
                        margin-left: 120px;
                    }

                    &:nth-child(2) {
                        margin-left: 90px;
                    }

                    &:nth-child(3) {
                        margin-left: 60px;
                    }

                    &:nth-child(4) {
                        margin-left: 30px;
                    }
                }

                .inputC {
                    margin-left: 160px;
                    cursor: pointer;

                    &::placeholder {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }

        &.d {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .columnD {
                text-align: center;

                .item {
                    border: 2px solid black;
                    border-radius: 5px;
                    background-color: red;
                    margin-bottom: 5px;
                    width: 200px;
                    padding: 2px;
                    color: white;

                    &:nth-child(5) {
                        margin-left: 120px;
                    }

                    &:nth-child(2) {
                        margin-left: 30px;
                    }

                    &:nth-child(3) {
                        margin-left: 60px;
                    }

                    &:nth-child(4) {
                        margin-left: 90px;
                    }
                }

                .inputD {
                    margin-right: 160px;
                    cursor: pointer;

                    &::placeholder {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .column {
            .item {
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .input {
        background-color: red;
        margin-left: 160px;
        border: 2px solid black;
        border-radius: 5px;
    }
}