.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;


    .column {
        text-align: center;
        flex: 1;
        margin: 4px;

        .item {
            padding: 10px;
            cursor: pointer;

            .text {
                background-color: red;
                color: white;
            }
        }

        input::placeholder {
            background-color: red;
            color: white;

        }

        .mesud {
            color: red;
        }
    }
}

.finall {
    display: flex;
    justify-content: center;
    align-items: center;
}